body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
  
footer {
	  color:#29b6f6
  }
  
  .nav-wrapper,.active{
    background-color: #0097a7 !important;
}

.page-footer,.active{
    background-color: #0097a7 !important;
}

.flow-text{
    color: grey;
}

.code {
font-family: "Arial Black";
}

figure {
    //padding: 5px;
    //float: left;
    //border: 1px solid #cccccc;
    //border-radius: 5px;
    //float: right;
    max-width: 310px;
    //border: 1px solid #000;
    margin: 1em;
    padding: 1.2em .8em .8em;
    text-align: center;
    //font: .8em/1.6 Arial;

}

figure img {
    border-radius: 3px 3px 0 0;
}

figure figcaption {
    padding: 2px 4px 2px 4px;
    background-color: #636363;
    color: #cccccc;
    font-style: italic;
    border-radius: 0 0 3px 3px;
}
.colorHead{
    font-color:#512da8 deep-purple darken-2;
}

.partlistDiv {
    border: 1px solid black;
}

.container{
    color: #616161;

}
h3{
    color: black ;
}
h4 {
    color: black;
}

h5 {
    color:black;
}
h1 {
    color:black;
}
