/*.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.clo,.opn,.pun{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.kwd,.tag,.typ{font-weight:700}.str{color:#060}.kwd{color:#006}.com{color:#600;font-style:italic}.typ{color:#404}.lit{color:#044}.clo,.opn,.pun{color:#440}.tag{color:#006}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
.linenums li {
    list-style-type: decimal;
}
*/

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: #f7f3f7;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
}

.pln {
    color: #1b181b;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #5a7b8c;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: #f7f3f7;
    list-style-type: decimal;
}

@media screen {

    /* string content */

    .str {
        color: #918b3b;
    }

    /* keyword */

    .kwd {
        color: #7b59c0;
    }

    /* comment */

    .com {
        color: #5a7b8c;
    }

    /* type name */

    .typ {
        color: #516aec;
    }

    /* literal value */

    .lit {
        color: #a65926;
    }

    /* punctuation */

    .pun {
        color: #1b181b;
    }

    /* lisp open bracket */

    .opn {
        color: #1b181b;
    }

    /* lisp close bracket */

    .clo {
        color: #1b181b;
    }

    /* markup tag name */

    .tag {
        color: #ca402b;
    }

    /* markup attribute name */

    .atn {
        color: #a65926;
    }

    /* markup attribute value */

    .atv {
        color: #159393;
    }

    /* declaration */

    .dec {
        color: #a65926;
    }

    /* variable name */

    .var {
        color: #ca402b;
    }

    /* function name */

    .fun {
        color: #516aec;
    }
}